################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo.NetCore.Api/Demo.NetCore.Api/bin/Debug/netcoreapp3.1
